body {
  background-image: url(./star_wars_img.jpg);
  opacity: 1;
  margin-top: 5rem;
}

.container {
  max-width: 50em;
}

.content-section {
  background: #002759;
  padding: 2rem;
  border-radius: 5px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}
